*{
    margin: 0;
    padding: 0;
}
body{
    
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

.bg{
background-image: url(../images/bike.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
padding: 100px 0;
background-attachment: fixed;

}

.heading{
color: #fff;
text-align: center;
margin-bottom: 50px;
font-size: 32px;
}

.contact_from{
width: 70%;
margin: auto;
display: flex;
justify-content:space-between;
align-items: center;
}

.contact_info{
    width: 48%;

}

.contact_info h3{
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 30px;

}

.info_box{
display: flex;
margin-bottom: 30px;
}

.icon{
color: aquamarine;
width: 44px;
font-size: 24px;
}

.info{
color: #fff;
}

.info h3{
    font-size: 16px;
}

.info p{
margin-top: 8px;
color: black;
}

.main_form{
    width: 48%;

}

.form{
background-color: chartreuse;
padding: 35px;
border-radius: 5px;

}

.form h2{
margin-bottom: 30px;
}

.form form input{
width: 100%;
margin-bottom: 15px;
padding: 15px 0 15px 10px;
border:1px solid #dedede ;
}

.form form input[type="submit"]{
    width: auto;
    padding: 0;
    background-color: cyan;
    padding: 15px 28px;
    border-radius: 6px;
    font-size: 17px;
}

.form form textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 0 15px 10px;
    border:1px solid #dedede 
    
}

.form form input, .form form textarea{
    font-family:'Poppins',sans-serif;
}


.form form input:focus,form form textarea:focus{
    box-shadow: 0px 1px 3px 1px #00000021;

}



































